/* CSS HEX
--tan: #deb887ff;
--dark-purple: #231123ff;
--amaranth-purple: #A63A50;
--drab-dark-brown: #463F1A;
--emerald: #35ce8dff;
*/
/* CSS HEX 
--black-bean: #280003ff;
--chocolate: #8b4000ff;
--persian-orange: #de9151ff;
--yellow-green: #bed558ff;
--moss-green: #8b9556ff;

--platinum: #e5e4e2ff;
*/
body {
    background-color:burlywood;
    color: #280003ff;
    display:grid;
}

.menubar {
    width:100%;
}

.menubar .button{
    float:left;
}

.menubar .storage{
    float:right;
    padding-left:5pt;
}

#tasksOverview {
    display:grid;
}

#locations{
    display:grid;
    box-sizing: border-box;
    float: left;
}
.location {
    float:left;
}
.location .name {
    padding:2px;
}
.location .task {
    float:left;
    position:relative;
    background-color:white;
    color:black;
    white-space: nowrap;
    overflow:hidden;
    margin:1pt;
    padding-left:3pt;
    padding-right:3pt;
    padding-top:3pt;
    width:180px;
    height:100px;
}
.task .checkMark {
    position:absolute;
    bottom:0;
    right:0;
    font-size: xx-large;
}

#citizens {
    border-radius: 7pt;
    background-color: #463F1A;
    box-sizing: border-box;
    float:left;
    min-height: 36.5pt;
    max-height: 82pt;
    overflow:scroll;
    width:100%;
}
.citizen {
    display:inline-block;
    border-radius:16pt;
    background-color:#8b4000ff;
    color: #de9151ff;
    font-family:'Franklin Gothic Medium';
    font-size:small;
    margin:1.5pt;
    width:127pt;
}
.citizen .citIcon{
    float:left;
    border-radius:15pt;
    background-color: #de9151ff;
    margin:4pt;
    height:25pt;
    width:25pt;
}
.citizen .nameplate{
    display:grid;
    margin:1pt;
    padding:1.5pt;
}
.nameplate .name {
    padding:0pt;
    font-weight:bold;
}

.progress{
    position:relative;
    border: 1px solid #280003ff;
    border-radius:10pt;
    background-color:#280003ff;
    color:#bed558ff;
    font-size:smaller;
    font-weight:bold;
    white-space: nowrap;
    overflow:hidden;
    padding-left:4pt;
    padding-right:0pt;
    padding-top:0pt;
    width:90%;
    height: auto;
}
.progress .progressbar{
    position:absolute;
    top:0;
    left:0;
    white-space: nowrap;
    overflow:hidden;
    padding-left:4pt;
    background-color:#8b9556ff;
    color:#280003ff;
}
.progress .progressbar.todo {
    visibility:hidden;
}